{{ include('FrontendBundle:project:modalAddProject.html.twig') }}

<div id="confirm-lenguaje" class="hide"
     data-title="{{ 'frontendbundle.question_title.delete_project' | trans }}"
     data-content="{{ 'frontendbundle.question.delete_project' | trans }}"
     data-confirmbutton="{{ 'frontendbundle.question_btn.yes' | trans }}"
     data-cancelbutton="{{ 'frontendbundle.question_btn.no' | trans }}"></div>
<div class="col-lg-12">
    <div id="list-projects" class="row">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ 'frontendbundle.table_name.projects' | trans }}</h5>

                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="fullscreen-link">
                                    <i class="fa fa-expand"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-gear"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li>
                                        <a href="#modal-new-project" data-toggle="modal" data-action="{{ path('save_project') }}" data-action-success="{{ path('homepage') }}" class="new-project">{{ 'frontendbundle.modal_title.addproject' | trans }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-striped table-bordered table-hover " id="table-projects">
                                <thead>
                                <trli>
                                    <th>{{ 'frontendbundle.column_name.id' | trans }}</th>
                                    <th>{{ 'frontendbundle.column_name.project' | trans }}</th>
                                    <th>{{ 'frontendbundle.column_name.description' | trans }}</th>
                                    <th>{{ 'frontendbundle.column_name.aplication_type' | trans }}</th>
                                    <th>{{ 'frontendbundle.column_name.action' | trans }}</th>
                                </trli>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{ project.id }}</td>
                                        <td>{{ project.name }}</td>
                                        <td>{{ project.description }}</td>
                                        <td>{{ project.applicationtype.name }}</td>
                                        <td style=" text-align: center">
                                            <a id="mod-{{ project.id }}" data-idproject="{{ project.id }}" href="#modal-new-project" data-toggle="modal" class="edit-project"  data-action="{{ path('edit_project') }}" data-action-success="{{ path('homepage') }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            |
                                            <a id="del-{{ project.id }}" data-href="{{ path('delete_project', {'id':project.id}) }}" href="#" class="delete-project">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>